.DS_Store

.idea

infra/terraform/*/*/.terraform.lock.hcl
infra/terraform/*/*/.terraform.tfstate.lock.info
infra/terraform/*/*/.tfvars
infra/terraform/*/*/.tfvars.json
infra/terraform/*/*/terraform-provider-*
infra/terraform/*/*/.terraform/plugins/
infra/terraform/*/*/.terraform/providers/
infra/terraform/*/*/terraform.tfstate
infra/terraform/kubernetes/aks/orion-development/terraform.tfstate.backup

venv/
.venv/

infra/terraform/kubernetes/aks/orion-development/.terraform.lock.hcl
infra/terraform/kubernetes/aks/orion-development/terraform.tfstate
infra/terraform/kubernetes/aks/orion-development/.terraform/providers/registry.terraform.io/azure/
infra/terraform/kubernetes/aks/orion-development/.terraform/providers/registry.terraform.io/hashicorp/


infra/terraform/kubernetes/aks/owshq-orion-ws-dev/terraform.tfstate.backup
