.idea

infra/terraform/*/*/.terraform.lock.hcl
infra/terraform/*/*/.terraform.tfstate.lock.info
infra/terraform/*/*/.tfvars
infra/terraform/*/*/.tfvars.json
infra/terraform/*/*/terraform-provider-*
infra/terraform/*/*/.terraform/plugins/
infra/terraform/*/*/.terraform/providers/
infra/terraform/*/*/terraform.tfstate
infra/terraform/*/*/terraform.tfstate.backup

venv/
.venv/

